footer.footer 
    .container
        .footer-top 
            .footer-column
                a.footer-heading.footer-link(href="#") MoGo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt doloremque expedita voluptate animi, magnam aspernatur repellat! Sunt possimus amet veniam totam praesentium et reiciendis maiores? Est hic doloribus vero suscipit.
                p.footer-follower <span>15k</span> followers 
                .footer-social 
                    span Follow Us:
                    ul.footer-social-list 
                        +footerSocialItem("fab fa-facebook-f", "#")
                        +footerSocialItem("fab fa-twitter", "#")
                        +footerSocialItem("fab fa-instagram", "#")
                        +footerSocialItem("fab fa-pinterest-p", "#")
                        +footerSocialItem("fab fa-google-plus-g", "#")
                        +footerSocialItem("fab fa-youtube", "#")
                        +footerSocialItem("fab fa-weixin", "#")
                        +footerSocialItem("fab fa-tumblr", "#")
                form.footer-form(action="javascrip:void(0)") 
                    input.footer-form-input(type="email" placeholder="Your email")
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs 
                ul.footer-blogs 
                    +footerBlog("#", "images/img-blogs1.png", " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, doloremque dolores quo", "Jan 9, 2016")                    
                    +footerBlog("#", "images/img-blogs2.png", " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, doloremque dolores quo", "Jan 9, 2016")                    
                    +footerBlog2({
                        href:"#", 
                        srcImage: "images/img-blogs3.png", 
                        title: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, doloremque dolores quo",
                        date: "Jan 9, 2016"
                    })                    
            .footer-column
                h3.footer-heading Instagram
                ul.footer-image-list
                    li.footer-image-item 
                        img.footer-image(src="images/img-instagram1.png", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657058061589-34baf3bb30da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657073025790-a948e653ce2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657123652893-7c27196bb346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657037031161-d126c02cce8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657116754973-402beba2f3f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1629426293928-8a3a220eb283?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657037029340-bbb5e92c8d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
                    li.footer-image-item 
                        img.footer-image(src="https://images.unsplash.com/photo-1657088959482-057ca02bcb0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
                a.footer-image-more(href="")  View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <a href="#">Laaqiq</a>