section.quote 
    .container 
        .quote-list 
            +quoteItem("images/img-quote.png", true, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Jon Doe")
            +quoteItem("images/img-quote.png", true, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Jon Doe")
            +quoteItem("images/img-quote.png", true, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Jon Doe")
            +quoteItem("images/img-quote.png", true, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Jon Doe")
            