section.service 
    .container
        +blockHead("We work with", "Amazing Services")
        .service-box
            .service-list 
                +serviceItem("images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")
                +serviceItem("images/img-service-icon2.png", "Web design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")
                +serviceItem("images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")
            .service-list 
                +serviceItem("images/img-service-icon4.png", "SEO", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")
                +serviceItem("images/img-service-icon5.png", "Css/Html", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")
                +serviceItem("images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit")