section.team 
    .container 
        +blockHead("Who we are", "Meet our team", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list 
            +teamItem("images/img-team1.png", "Matthew Dix", "Graphic Design")
                +socialItem("fab fa-facebook-f", "fb1")
                +socialItem("fab fa-twitter", "tw1")
                +socialItem("fab fa-github", "gh1")
                +socialItem("fab fa-instagram", "ins1")
            +teamItem("images/img-team2.png", "Christopjer Campbell", "Branding UX Design")
                +socialItem("fab fa-facebook-f", "fb2")
                +socialItem("fab fa-twitter", "tw2")
                +socialItem("fab fa-github", "gh2")
                +socialItem("fab fa-instagram", "i2")
            +teamItem("images/img-team3.png", "Michael Fertig", "Developer")
                +socialItem("fab fa-facebook-f", "fb3")
                +socialItem("fab fa-twitter", "tw3")
                +socialItem("fab fa-github", "gh3")
                +socialItem("fab fa-instagram", "i3")