section.quote 
    .container 
        .quote-list 
            +quoteItem("images/img-quote-avatar.png", false, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Joshua Earle")
            +quoteItem("https://images.unsplash.com/photo-1657090230956-ccdac5ab242b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", false, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Joshua Earle")
            +quoteItem("https://images.unsplash.com/photo-1644982647711-9129d2ed7ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", false, "\"Lorem ipsum dolor sit, consectetur adipisicing elit. At magnam atque commodi pariatur consectetur qui odio animi adipisci natus tempora. Mollitia deserunt consequatur quae non eos, ut blanditiis provident voluptatum?\"", "Joshua Earle")
            