section.work 
    .container 
        +blockHead("What we do", "Some of our work", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .work-list 
        +workItem("images/img-work1.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work2.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work3.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work4.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work5.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work6.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")
        +workItem("images/img-work7.png", "images/img-work-icon.png", "Creative Designer", "Lorem ipsum dolor sit amet, consectetur.")