.work{
    padding-top: 10.5rem;
    // padding-bottom: 100rem;
    --image-height : 39rem;
    @include hoverEffect(".work-item", ".work-content", false);
    &-list{
        --columns : 4;
        --rows : 2;
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: var(--image-height);
        grid-template-rows: repeat(var(--rows), var(--image-height));
        grid-template-areas: 
        "h1 h3 h5 h6"
        "h2 h4 h5 h7";
    }
    &-item{
        &:first-child{
            grid-area: h1;
        }
        &:nth-child(2){
            grid-area: h2;
        }
        &:nth-child(3){
            grid-area: h3;
        }
        &:nth-child(4){
            grid-area: h4;
        }
        &:nth-child(5){
            grid-area: h5;
        }
        &:nth-child(6){
            grid-area: h6;
        }
        &:last-child {
            grid-area: h7; 
        }
    }
    &-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-content{
        padding: 1rem;
    }
    &-icon{
        margin-bottom: 2rem;
        @include square(3.5rem);
        object-fit: cover;
    }
    &-title{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 600;
        @include textClamp();
    }
    &-desc{
        font-family: $secondary-font;
        font-size: 1.5rem;
        font-weight: 300;
        font-style: italic;
        @include textClamp(2);
    }

}

@media screen and (max-width: 1899.98px) {
    .work{
        --image-height : 28rem;
    }
}

@media screen and (max-width: 1439.98px) {
    .work{
        --image-height : 25rem;
    }
}
@media screen and (max-width: 1023.98px) {
    .work{
        --image-height : 30rem;
        padding-top: 8rem;
        &-list{
            margin-top: 8rem;
            --columns : 2;
            --rows : 4;
            grid-template-areas: 
            "h1 h3"
            "h2 h4"
            "h5 h6"
            "h5 h7";
        }
    }
}
@media screen and (max-width: 767.98px) {
    .work{
        --image-height : 20rem;
        padding-top: 5rem;
        &-list{
            margin-top: 5rem;
        }
        &-icon{
            @include square(2.3rem);
            margin-bottom: 0.5rem;
        }
        &-title{
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
        &-desc{
            font-size: 1.2rem;
        }
    }
}


